{% extends 'accounts_base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}
{% block loginActiveStatus %}{% endblock loginActiveStatus %}
{% block displayImage %}
    <img src="https://images.unsplash.com/photo-1587293852726-70cdb56c2866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="Warehouse image">
{% endblock displayImage %}

{% comment %} 
{% block styles %}
    <link rel="stylesheet" href="{% static 'app_frontend/css/accounts.css' %}">
{% endblock styles %} {% endcomment %}

{% block formContainer %}
    
    <div class="row justify-content-center">
        <div class="text-center"><p id="form-header-label">Forgot Password</p></div>
    </div>

    <form id="forgot-password-form" action={% url 'app_account:forgot-password' %}>

        <!-- E-mail Input Fied -->
        <div class="form-group mb-3">
        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter your email" autocomplete="off">
        <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <p id="errors-para-forgot-password"></p>
        <p id="success-para-forgot-password"></p>

        <div class="row justify-content-center">
            <div class="text-center"><button type="submit" class="btn btn-md btn-warning submit-btn">Submit</button></div>
        </div>

        <input type="hidden" id="Url" data-url="{% url 'app_frontend:confirm-otp' %}" />

    </form>

{% endblock formContainer %}


{% block scripts %}

    <script>
        $( document ).ready(function() {
            //scripts go here

            $("#forgot-password-form").submit(function(event){
                event.preventDefault(); // Prevent actual form submit

                var form = $(this);
                var url = form.attr('action');
                console.log(typeof(form.serialize()));
                console.log(form.serialize());

                var formdata = {
                    email: $("#email-input").val(),
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    data: formdata,
                    success: function(json_data){
                        console.log(json_data);
                        if(json_data['success']===true){
                            window.localStorage.setItem("email", $("#email-input").val())
                            $("#errors-para-forgot-password").html("");
                            $("#success-para-forgot-password").html(json_data['message']);
                            // redirect to the confirm_otp Page
                            var url = $("#Url").attr("data-url");
                            window.location.href = url;

                        }
                        
                    },
                    error: function(json_data){
                        console.log(json_data['responseJSON'])
                        if(json_data['responseJSON']['success']===false){
                            $("#errors-para-forgot-password").html(json_data['responseJSON']['message']);
                            $("#success-para-forgot-password").html("");
                        }
                        //console.log(json_data['responseJSON']['non_field_errors']);
                          //for(let i=0; i<non_field_errors.length; i++){
                        //    console.log(non_field_errors[i]);
                        //}

                        //for(let i=0; i<non_field_errors.length; i++){
                        //    console.log(non_field_errors[i]);
                        //}
                    }
                });


            });

        });

        
    </script> 

{% endblock scripts %}
