{% extends 'accounts_base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock title %}
{% block loginActiveStatus %}{% endblock loginActiveStatus %}
{% block displayImage %}
    <img src="https://images.unsplash.com/photo-1587293852726-70cdb56c2866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="Warehouse image">
{% endblock displayImage %}

{% comment %} 
{% block styles %}
    <link rel="stylesheet" href="{% static 'app_frontend/css/accounts.css' %}">
{% endblock styles %} {% endcomment %}

{% block formContainer %}
    
    <div class="row justify-content-center">
        <div class="text-center"><p id="form-header-label">Reset Password</p></div>
    </div>

    <form id="reset-password-form" action={% url 'app_account:reset-password' %}>

        <div class="label-container">
            <p>Email:&nbsp;<p id="email"></p></p>
        </div>

        <!-- Password Input Field -->
        <div class="form-group mb-3">
            <input type="password" class="form-control" id="password-input" placeholder="Password" autocomplete="off">
        </div>

        <!-- Password Input Field -->
        <div class="form-group mb-3">
            <input type="password" class="form-control" id="confirm-password-input" placeholder="Confirm Password" autocomplete="off">
        </div>

        <p id="errors-para-reset-password"></p>

        <div class="row justify-content-center">
            <div class="text-center"><button type="submit" class="btn btn-md btn-warning submit-btn">Submit</button></div>
        </div>

        <input type="hidden" id="Url" data-url="{% url 'app_frontend:login' %}" />
    </form>

{% endblock formContainer %}


{% block scripts %}

    <script>
        $( document ).ready(function() {

            var BASE_URL = "127.0.0.1:8000";

            $("#email").html(window.localStorage.getItem("email"))
            console.log(window.localStorage.getItem("token"));

            var token = "token " + window.localStorage.getItem("token");

            $("#reset-password-form").submit(function(event){
                event.preventDefault(); // Prevent actual form submit

                var form = $(this);
                var url = form.attr('action');
                console.log(typeof(form.serialize()));
                console.log(form.serialize());

                var formdata = {
                    password: $("#password-input").val(),
                    confirm_password: $("#confirm-password-input").val(),
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', token);
                    },
                    
                    data: formdata,
                    success: function(json_data){
                        console.log(json_data);
                        if(json_data['success']===true){
                            window.localStorage.setItem("token", json_data['data']['token'])
                            $("#errors-para-forgot-password").html("");
                            // $("#success-para-forgot-password").html(json_data['message']);
                            // redirect to the change password Page
                            alert("Your password has been changed successfully.");
                            window.localStorage.removeItem("token");
                            var url = $("#Url").attr("data-url");
                            window.location.href = "//" + BASE_URL + url;

                        }
                
                    },
                    error: function(json_data){
                        console.log(json_data['responseJSON'])
                        if(json_data['responseJSON']['success']===false){
                            $("#errors-para-reset-password").html(json_data['responseJSON']['message']);
                            // $("#success-para-forgot-password").html("");
                        }

                        else if(json_data['responseJSON']['detail']==="Invalid token"){
                            $("#errors-para-reset-password").html('Session Expired');
                        }
                        //console.log(json_data['responseJSON']['non_field_errors']);
                        //var non_field_errors = json_data['responseJSON']['non_field_errors'];

                        //for(let i=0; i<non_field_errors.length; i++){
                        //    console.log(non_field_errors[i]);
                        //}

                        //for(let i=0; i<non_field_errors.length; i++){
                        //    console.log(non_field_errors[i]);
                        //}
                    }
                });


            });

        });

        
    </script> 

{% endblock scripts %}
